body {
	background-color: #e6e6e6;
	margin: 0;
}

.top-banner {
	background-color: #0c2340;
	padding: 0 10%;
	overflow: hidden;
	font-family: Garamond, serif;
}

.top-banner h3 {
	height: 5%;
	margin: 0;
	color: #c99700;
	float: left;
	font-size: 24px;
	padding-top: 12px;
	margin-left: 16px;
}

.top-banner h4 {
	margin: 0;
	color: #c99700;
	float: right;
	font-size: 24px;
	padding-top: 12px;
}

.topnav {
	background-color: #c99700;
	height: 64px;
	padding: 0 10%;
	overflow: hidden;
}

.topnav h3 {
	float: left;
}

.topnav h4 {
	float: right;
	margin-left: 16px;
}

.topnav a {
	color: #0c2340;
	text-align: center;
	padding: 14px 16px;
	font-size: 24px;
}

.topnav a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.inactive {
	text-decoration: none;
}

.active {
	text-decoration: underline;
}

.top-container {
	height: 512px;
	overflow: auto;
	background-color: #0c2340;
	margin:10px;
}

.top-container h1 {
	margin: 0;
	text-align: center;
	margin-left: 48px;
	padding-top: 24px;
	font-size: 48px;
	color: #c99700;
}

.top-container h2 {
	width: 50%;
	padding-top: 24px;
	font-size: 24px;
	color: #c99700;
}

.top-container h3 {
	color: #c99700;
	margin-left: 64px;
}

.top-container p {
	color: white;
	margin-left: 64px;
}

.top-container span {
	font-family: Tahoma, sans-serif;
}

.blue-divider {
	background-color: #0c2340;
	height: 80px;
	width: 95%;
	margin: auto;
	text-align: center;
}

.blue-divider-text {
	float: left;
	width: 50%;
	height: 80px;
	text-align: center;
}

.blue-divider-text h3 {
	color: #c99700;
	margin: 20 0 0 0;
	font-size: 30px;
}

.edit-button {
	background-color: #c99700;
	text-align: center;
	font-size: 18px;
	border: none;
	padding: 5px 12px;
	border-radius: 4px;
	color: #0c2340;
	margin-left: 64px;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left:0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(255, 255, 255, 0.4); /* White w/ opacity */
}

.modal-content {
	color: #0c2340;
	margin: 20% auto; /* 15% from the top and centered */
	width: 40%; /* Could be more or less, depending on screen size */
	border-radius: 8px;
	background-color: rgba(255, 255, 255);
	-webkit-animation-name: fadeIn; /* Fade in the background */
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s
}

.modal-header {
	padding: 2px 16px;
	background-color: #c99700;
	color: #0c2340;;
	border-radius:  8px 8px 0px 0px;
}
  
.modal-body {padding: 2px 16px;}
  

.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
  color: #0c2340;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes fadeIn {
	from {opacity: 0} 
	to {opacity: 1}
}
  
@keyframes fadeIn {
	from {opacity: 0} 
	to {opacity: 1}
}

input, select {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
